a:hover{
	background-color: #99ccff;
}

.menubuttons>.ui-button{
	background-color: inherit;
	padding:05px;
	height: 50px;
	
}

.ui-button:hover {
	background-color: cadetblue;
	color: #fffff;
	
}
.sideBar {
	margin: 0px;
	padding: 0px;

}